<!DOCTYPE html>

<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/navigation.ejs') %>
    <div class="hero">
      <h1  class="homeh1" style="position: absolute; color: white;">Hi im Mohammed Aljaroudi <br>a Fullstack developer</h1>
      <div class="img-container" >
          <img src="/images/me.png" alt="me" style="position: relative;">
      </div>
      <a href="/about" style="text-decoration: none; color: white;" >About me</a>
    </div>
  </body>
</html>
<!-- // 301269584
// Mohammed Aljaroudi
// 9/27/2023
// home.html -->