<!DOCTYPE html>
<html>
  <head>
    <title>Projects</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/navigation.ejs') %>
    <h1 class="projecth1">My Projects</h1>
    <div class="project-container">
        <div class="project">
          <img src="/public/images/car-rental.png" alt="">
        </div>
        <div class="project">
          <img src="/public/images/portfolio-work.png" alt="">
        </div>
        <div class="project">
          <img src="/public/images/old-portfolio.png" alt="">
        </div>
    </div>
  </body>
</html>
<!-- // 301269584
// Mohammed Aljaroudi
// 9/27/2023
// projects.html -->