<!-- // 301269584
// Mohammed Aljaroudi
// 9/27/2023
// services.html -->
<!DOCTYPE html>
<html>
  <head>
      <title>Sevices</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/navigation.ejs') %>


    <div class="my-services">
      <h1>My Services</h1>
      <div class="service">
        <h2>Frontend Development</h2>
      </div>
      <div class="service">
        <h2>Backend Development</h2>
      </div>
      <div class="service">
        <h2>UI/UX Desgin</h2>
      </div>
      <div class="service">
        <h2>Software prototyping</h2>
      </div>
    </div>

  </body>
</html>
